<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Other Meta Tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <title>Order</title>
</head>
<body>
<div class="container" id="main">
  <h1>Food Order</h1>
  <form method="POST" action="#">
    <label>What would you like to order?
      <input type="text" name="food" value="{{ @userFood }}"><br>
      <span class="text-danger" style="font-size: 0.8rem">
        <check if="{{ isset(@errors['food']) }}">
          {{ @errors['food'] }}
        </check>
      </span>
    </label>
    <br>
    <strong>Select a meal</strong>
        <div class="form-group">
          <div>
            <repeat group="{{ @meals }}" value="{{ @value }}">
              <input
                      class="form-check-input"
                      type="radio" name="meal"
                      id="{{ @value }}"
                      value="{{ @value }}"
                      <check if="{{ @meal == @userMeal }}">checked</check>
              >
              <label class="form-check-label" for="{{ @value }}">
                {{ ucfirst(@value) }}
              </label>
              <br>
            </repeat>
          </div>
        </div>
      <span class="text-danger" style="font-size: 0.8rem">
        <check if="{{ isset(@errors['meal']) }}">
          {{ @errors['meal'] }}
        </check>
      </span><br>
    <input class="btn btn-secondary" type="submit" value="Next >>">
  </form>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
</body>
</html>